* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  /* background: url("8pha9wqb.png") no-repeat; */
  background-color: black;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.3rem 10%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.066);
  backdrop-filter: blur(50px);
  z-index: -1;
}
.logo {
  font-size: 2rem;
  color: white;
  text-decoration: none;
  font-weight: 700;
}
.navbar a {
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 2.5rem;
}
.icons {
  display: inline-block;
  font-size: 20.5rem;
  right: 5%;
  /* color: #fff; */
  stroke: #fff;
  cursor: pointer;
}
@media (max-width: 992px) {
  .header {
    padding: 1.3 5%;
  }
}
@media (max-width: 768px) {
  .icons {
    display: inline-flex;
  }
  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 17.7rem;
    background-color: rgba(255, 255, 255, 0.066);
    backdrop-filter: blur(50px);
    box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.066);
  }
  .navbar a {
    display: block;
    font-size: 1.1rem;
    margin: 1.5rem 0;
    text-align: center;
  }
}
