* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000000;
  /* we went to bi sticky  later*/
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}
.logo {
  height: 2.7rem;
}

/*****************/
/* navigation*/
/*************/
.main-nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 4.6rem;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline;
  text-decoration: none;
  color: #fae5d3;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #00e6e6;
}
.nav-cat:link,
.nav-cat:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 10px;
  color: #000000;
  /*background:#6ff668 ;*/
  background: #fbdb65;
}
.nav-cat:hover,
.nav-cat:active {
  background: #fae5d3;
}
/*mobile icon*/
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}
.icon-mobile-nav {
  height: 3.8rem;
  width: 3.8rem;
  stroke: white;
}

.icon-mobile-nav[name="x"] {
  display: none;
}

/*STICKY NAVIGATION*/
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-bottom: 0;
  background: rgba(24, 23, 23, 0.97);
  z-index: 999;
}
.sticky .section-hero {
  margin-top: 9.6rem;
}
/*********/
.btn,
.btn:link,
.btn:visited {
  display: inline;
  font-size: 1.8rem;
  /*padding: 1.6rem 3.2rem;*/
  border-radius: 10px;
  text-decoration: none;
  transition: all 0.2s;
  font-weight: 600;
}
.btn--form:hover {
  background-color: white;
}
.btn {
  border: none;
  cursor: pointer;
  font-family: inherit;
  text-decoration: none;
  transition: all 0.2s;
  font-weight: 600;
  padding: 1.2rem;
}
.btn--full:link,
.btn--full:visited {
  background-color: #fbdb65;
  color: #000000;
}

.btn--full:hover,
.btn--full:active {
  background-color: #fae5d3;
  color: black;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #ffffff;
  color: black;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #555555;
}
.link:link {
  display: inline;

  text-decoration: none;
  border-bottom: 1px dotted currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}
.a {
  color: #fbdb65;
}
.link:hover,
.link:active {
  color: #fae5d3;
  border-bottom: 1px solid transparent;
}

@media (max-width: 59em) {
  html {
    font-size: 50%;
  }

  .logos img {
    height: 2.4rem;
  }

  /*FOR MOBILE*/
  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }
  .main-nav {
    background: rgba(24, 23, 23, 0.4);
    backdrop-filter: blur(10px);
    position: absolute;
    stroke: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-out;
    opacity: 0;
    /* Make it inaccessible to the mouse and keyboard*/
    pointer-events: none;
    /*hide it from screen readers*/
    visibility: hidden;
  }
  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }
  .nav-open .icon-mobile-nav[name="x"] {
    display: block;
  }
  .nav-open .icon-mobile-nav[name="menu"] {
    display: none;
  }
  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }
  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 2.4rem;
  }
}
/*for smaller tablet*/
@media (max-width: 44em) {
  .nav-col {
    grid-row: 1;
    grid-column: span 2;
    margin-bottom: 3.2rem;
  }
}
@media (max-width: 36em) {
  .btn,
  .btn:link,
  .btn:visited {
    font-size: 1.6rem;
    padding: 2rem 1.6rem;
    /*margin-bottom: 1rem;*/
  }
  .hero-imag {
    width: 80%;
  }
  .logos img {
    height: 1.6rem;
  }
}
